body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-areas:
      "header header"
      "menu itemslist";
    grid-template-columns: 1fr 8fr;
  }

  .container > div {
    padding: 10px;
  }

  .container > div.header {
    grid-area: header;
    text-align: center;
    background-color: darkgray;
  }

  .container > div.menu {
    grid-area: menu;
    text-align: center;
  }

  .container > div#itemsList {
    grid-area: itemslist;
  }

  div.itemContainer {
    display:grid;
    height: 150px;
  }

  #link {
    color: blue; /* Цвет текста */
    text-decoration: underline; /* Подчеркивание */
    cursor: pointer; /* Курсор при наведении */
  }


  