body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-areas:
      "header header"
      "menu itemslist"
      "sendButtonContainer sendButtonContainer";
    grid-template-columns: 1fr 8fr;
  }

  .container > div {
    padding: 10px;
  }

  .container > div.header {
    grid-area: header;
    text-align: center;
    background-color: darkgray;
  }

  .container > div.menu {
    grid-area: menu;
    text-align: center;
  }

  .container > div#readContainer {
    grid-area: itemslist;
  }

  div#readContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 100px;
  }

  div#readContainer > a {
    height: 50px;
  }
