body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-areas:
      "header header"
      "menu itemslist";
    grid-template-columns: 1fr 8fr;
  }

  .container > div {
    padding: 10px;
  }

  .container > div.header {
    grid-area: header;
    text-align: center;
    background-color: darkgray;
  }

  .container > div.menu {
    grid-area: menu;
    text-align: center;
  }

  .container > div#itemsList {
    grid-area: itemslist;
  }
  .container > div#readContainer {
    grid-area: itemslist;
  }

  div#readContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 100px;
  }

  div#readContainer > a {
    height: 50px;
  }

  div.itemContainer {
    display:grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 150px;
  }

  #link {
    color: blue; /* Цвет текста */
    text-decoration: underline; /* Подчеркивание */
    cursor: pointer; /* Курсор при наведении */
  }

  .container > div#addMenu {
    grid-area: itemslist;
  }

  div#addMenu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 100px;
  }

  div#addMenu > a {
    height: 50px;
  }

  div#addMenu > form > input {
    height: 100%;
    width: 100%;
  }
  
  .container > div#readContainer {
    grid-area: itemslist;
  }

  .container > div.sendButtonContainer {
    grid-area: sendButtonContainer;
    
    text-align: center;
  }