<!DOCTYPE html>
<html>
<head>
    <link href="/css/styles.css" rel="stylesheet" />
    
</head>
<body>

<div class="container">

  <div class="header">
    <h2><%= title %></h2>
  </div>
  
  <div class="menu">
    <a href="/">На главную</a>
  </div>

  <div id="addMenu">

    <a>Название:</a>
    <form>
      <input id="name" type="text">
    </form>

    <a>Описание:</a>
    <form>
      <input id="description" type="text">
    </form>

    <a>Полное описание:</a>
    <form>
      <input id="fullDescription" type="text">
    </form>

    <a>Цена:</a>
    <form>
      <input id="price" type="text">
    </form>

    <a>Ссылка на изображение:</a>
    <form>
      <input id="linkImage" type="text">
    </form>

    <a>Номер телефона для связи:</a>
    <form>
      <input id="phoneNumber" type="text">
    </form>

    <a>email для связи:</a>
    <form>
      <input id="email" type="text">
    </form>

    <div class="sendButtonContainer">
      <a id="button" href="/">Создать объявление</a>
    </div>

  </div>

  

</div>

</body>
<script type="module" src="../dist/createButtonEvent.bundle.js"></script>
</html>