<!DOCTYPE html>
<html>
<head>
    <link href="/css/styles.css" rel="stylesheet" />
    
</head>
<body>

<div class="container">

  <div class="header">
    <h2><%= title %></h2>
  </div>
  
  <div class="menu">
    <a href="/">На главную</a>
  </div>

  <div id="readContainer">

    <a>Название:</a>
    <a id="name"></a>

    <a>Описание:</a>
    <a id="description"></a>

    <a>Полное описание:</a>
    <a id="fullDescription"></a>

    <a>Цена:</a>
    <a id="price"></a>

    <a>Изображение:</a>
    <img id="itemImage" style="height: 600px;"/>

    <a>Ссылка на изображение:</a>
    <a id="linkImage"></a>

    <a>Номер телефона для связи:</a>
    <a id="phoneNumber"></a>

    <a>email для связи:</a>
    <a id="email"></a>



  </div>

</div>

</body>
<script type="module" src="../dist/readBuilder.bundle.js"></script>
</html>